<div class="container">
   <h1><%= @resturant.name %></h1>
   <h3><%= @resturant.address %></h3>
   <h3><%= @resturant.phone_number %></h3>
   <h3><%= @resturant.category %></h3>
   <%= link_to "back to restaurants" restaurants_path %>
</div>
