<div class="container">
  <div>
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.rating %></p>
  </div>
   <ul>
    <li><%= link_to "Edit", edit_restaurant_path(params[:id]) %></li>
    <li><%= link_to "Back to list", restaurants_path %></li>
  </ul>
</div>
